.container{
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	padding: 0 1rem;
}

.title{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: .5rem 1rem 0 1rem;
}

@media only screen and (max-width: 600px) {
	.title h1{
		font-size: 1.5rem;
		line-height: 2rem;
		font-weight: bold;
	}
	.title h2{
		font-size: 1.125rem;
		line-height: 1.75rem;
	}
	.questions{
		margin: 0 2.5rem;
	}
}

.questions{
	background: white;
	box-shadow: 0 10px 15px -3px rgb(0, 0, 0, .1), 0 4px 6px -4px rgb(0, 0, 0, .1) ;
	border-radius: 6px;
	padding: 20px;
	margin: 0 1rem;
}

.question_type{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: .5rem 0;
}

.question_choice{
	/* display: flex; */
	font-size: small;
	font-weight: 500;
	color: blueviolet;
	text-transform: capitalize;
}

.choice_type{
	margin: 1rem 0;
}

.choice_type input, textarea, select{
	padding: 0 20px;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	height: 2rem;
	border-radius: 6px;
	display: block;
	width: 100%;
}

.selected{
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem; 
}

.selected select{
	padding: 0 20px;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	height: 2.5rem;
	border-radius: 6px;
	display: block;
	width: 100%;
}

.selected div{
	display: flex;
	justify-content: space-between;
}

.selected input{
	flex: 1 1 0%;
}

.selected button{
	background: #6658d3;
	color: white;
	padding: 0 1rem;
	display: block;
}

.selected button:hover{
	background: #5143b9;
}

.button{
	position: relative;
	width: 100%;
	padding: 20px;
}
.button div{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 3rem;
	display: flex;
	justify-content: center;
}

.button div button{
	display: inline-flex;
	background: #6658d3;
	align-items: center;
	padding: 12px;
	font-size: small;
	color: white;
	border-radius: 6px;
}

.button div button:hover{
	background: #5143b9;
}